<table style="width: 100%;" class='template_box'>
    <tbody>
        <tr>
            <td>
                <%= l(:label_ttw_issue_info) %>
            </td>
            <td style="text-align: right; padding-right: 30px;" class='ttw_table_right'>
                <button class="template_box ttw-btn ttw-btn-primary ttw-btn-large" onclick="document.activeElement.blur(); startTTW(event, baseUrl, projectId, isTemplatesEnabled, restApiKey, base_builtin_fields)">
                <%= l(:label_ttw_btn_start_theme) %>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<script>
    const baseUrl = "<%= url_for(controller: 'ttw_cats', action: 'list_themes') %>"
    const base_builtin_fields = <%= ('{"ttw_cats":' << TtwCat.enabled.sorted.to_a.to_json).html_safe %>,
                                <%= ('"ttw_issue_templates":' << TtwIssueTemplate.enabled.sorted.to_a.to_json).html_safe %>,
                                <%= ('"ttw_ttw_trackers":' << Tracker.sorted.to_a.to_json).html_safe %>,
                                <%= ('"ttw_top_lvls":' << TtwTopLvl.enabled.sorted.to_a.to_json).html_safe %>}


    const projectId = 1// "<%#= project.id %>"
    const restApiKey = "<%= Setting['plugin_task_theme_wizard']['ttw_api_key'].presence || '' %>"
    const isTemplatesEnabled = "<%= Setting['plugin_task_theme_wizard']['ttw_templates_enabled'].presence || true %>"

    if (window.cbImagePaste !== undefined) {
        window.onload = function() {
            let options = {}
            options.cbp_txt_too_many_files  = "Не удается добавить файл. Количество одновременно добавляемых файлов ограничено до 10."
            options.cbp_txt_too_big_image   = "Макс объём файла не более 5 мб"
            options.cbp_txt_copy_link       = "Ссылка на изображение и превью"
            options.cbp_max_attach_size     = 5242880
            options.cbp_max_attachments     = 10
            options.cbp_act_update_id       = "<%= "%03d" % (Time.now.usec / 1000) %>"
            options.define_link_path        = "" //"/redmine" 
            startTPI(options)
        }
    }

</script>

<%= javascript_include_tag('uikit.min', plugin: 'task_theme_wizard') %>
<%= javascript_include_tag('uikit-icons.min', plugin: 'task_theme_wizard') %>
<%№= javascript_include_tag('theme_selector', plugin: 'task_theme_wizard') %>
<%= javascript_include_tag('theme_selector.min', plugin: 'task_theme_wizard') %>
<%= javascript_include_tag('theme_paste_image.min', plugin: 'task_theme_wizard') %>
<%#= javascript_include_tag('theme_paste_image', plugin: 'task_theme_wizard') %>
<% content_for :header_tags do %>
    <%#= stylesheet_link_tag 'uikit.min', :plugin => 'task_theme_wizard' %>
    <%= stylesheet_link_tag 'uikit_ttw.min', :plugin => 'task_theme_wizard' %>
    <%= stylesheet_link_tag 'task_theme_wizard', :plugin => 'task_theme_wizard' %>
<% end %>