<table style="width: 100%;" class='template_box'>
    <tbody>
        <tr>
            <td>
                <%= l(:label_ttw_issue_info) %>
            </td>
            <td style="text-align: right; padding-right: 30px;" class='ttw_table_right'>
                <button class="template_box ttw-btn ttw-btn-primary ttw-btn-large" onclick="document.activeElement.blur(); startTTW(event, baseUrl, projectId, isTemplatesEnabled)">
                <%= l(:label_ttw_btn_start_theme) %>
                </button>
            </td>
        </tr>
    </tbody>
</table>


<script>
    const baseUrl = "<%= url_for(controller: 'ttw_cats', action: 'list_themes') %>"
    //const templateId = "<%#= issue_template&.id || '' %>"
    //const templateType = 'issue_template'
    const base_builtin_fields = <%= @ttw_cats.to_json.html_safe %>
    const projectId = "<%= project.id %>"
    const isTemplatesEnabled = "<%= Setting['plugin_task_theme_wizard']['empty'].presence || true %>"
  </script>

  <%= javascript_include_tag('uikit.min', plugin: 'task_theme_wizard') %>
  <%= javascript_include_tag('uikit-icons.min', plugin: 'task_theme_wizard') %>
  <%= javascript_include_tag('theme_selector', plugin: 'task_theme_wizard') %>
<% content_for :header_tags do %>
    <%#= stylesheet_link_tag 'uikit.min', :plugin => 'task_theme_wizard' %>
    <%= stylesheet_link_tag 'uikit_ttw.min', :plugin => 'task_theme_wizard' %>
    <%= stylesheet_link_tag 'task_theme_wizard', :plugin => 'task_theme_wizard' %>
<% end %> 
